<html>
    <head>
       <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>Addition: {{ sum }}</p>
        <p>Substraction: {{ sub }}</p>
        <p>Multipication: {{ mul }}</p>
        <p>Division: {{ div }}</p>
    </body>
</html>